{{define "body"}}
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 18px; line-height: 20px; font-weight: bold; color: #4f586b;" align="left" valign="top">
            <strong>Hello!</strong>
        </td>
    </tr>
    <tr>
        <td style="font-size: 0px;" height="30">&nbsp;</td>
    </tr>
    <tr>
        <td style="font-family: Arial,Helvetica,sans-serif; font-size: 14px; line-height: 18px; color: #353b49;" align="left" valign="top">
            To create new password click to next <a href="{{.URL}}" target="_blank">link</a>.
        </td>
    </tr>
    <tr>
        <td style="font-size: 0px;" height="30">&nbsp;</td>
    </tr>
{{end}}
